body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(22, 22, 51);
}
section{
    height: 250px;
    padding-bottom: 50px;
}
.top-banner{
}
.half-width{
    width:35%;
    float: left;
    margin-left: 0%;
    padding-left: 5%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: rgb(255, 255, 255);
}
.half-width img{
    width: 100%;
}
.pic-test img{
    height: 8%;
    width: 15%;
    align-content: center;
}
.pic-test2 img{
    width: 11%;
    height: 18%;
    position: absolute;
    right: 30%;
    top: 5%;
    
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(42, 63, 125), rgb(100, 22, 8));
    padding: 10px 40px;
    border-radius: 0px;
    color: white;
    font-weight: 700;
}
p{
    color: rgb(255, 255, 255);
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: right;

}
.end{
    margin-bottom: 30%;
}
h2{
    font-size: 40px;
    color: rgb(255, 251, 251);
}
h3{
    font-size: 15px;
    color: rgb(255, 251, 251);
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 1%;

}
.experience-area h3{
    color: rgb(255, 255, 255);
}

.experience-area div{
    box-shadow: 5px 7px 40px rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 5px;
    height: 85%;
}
#full-stack{
    border-left: 7px solid rgb(251, 251, 251);
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue 100%, cyan 100%);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    justify-content: flex-end;
    align-content: flex-end;
}